/*默认样式清除*/
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,figure,menu,nav,figcaption,footer,span,html{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}

body,html{
	height: 100%;
	font-size: 0.18rem;
}

/*引入小图标，给需要设置小图标的标签写入font-family:tubiao;*/
@font-face {
			 font-family:tubiao;
			 src: url('index_font/iconfont.eot');
			 src: url('index_font/iconfont.eot?#iefix') format('embedded-opentype'),
			 url('index_font/iconfont.woff') format('woff'),
			 url('index_font/iconfont.ttf') format('truetype'),
			 url('index_font/iconfont.svg#iconfont') format('svg');
}		
.tubiao{
  font-family:"tubiao" !important;
  font-size:0.16rem;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*使用图标*/
/*<i class="tubiao">&#x33;</i>*/
