#footer{
    width: 980px;
    margin: 0 auto;
    padding: 20px 0;
    color: #999;
}
#footer button{
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background: #84cf6d;
    border: 0;
    margin-right: 20px;
}
#footer a{
    color: #999;
}
#footer div{
    overflow: hidden;
}
#footer div p{
    height: 30px;
    line-height: 30px;
}
#footer div p:nth-of-type(1){
    float: left;
}
#footer div p:nth-of-type(2){
    float: right;
}